* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    border: solid 3px rgb(199, 69, 69);
    width: 200px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left: 10px;
    top: 10px;
}

.card #top{
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.card h2{
    padding-top: 10px;
    text-align: center;
    color: blue;
    height: 50px;
    border-top: solid 2px rgb(189, 28, 71);
    border-bottom: solid 2px rgb(189, 28, 71);
    font-size: 1.6rem
    }

.card p{
    border-bottom: solid 2px rgb(189, 28, 71);
    height: 100px;
    text-align: justify;
    padding: 0 5px;
    padding: 5px 5px;
}  

.card #bottom{
    width: 40px;
    border-radius: 80%;
    height: 40px;
}

.card #h3{
    position: relative;
    bottom: 35px;
    left: 55px
}

