* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
  width: 120px;
  height: 120px;
}

.caja_1{
  background-color: violet;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 80px
}

.caja_2{
  background-color: greenyellow;
  position: static;
  left: 120px;
  top: 120px;
  padding: 51px 0px
}

.caja_2 p{
  text-align: center;
}

.caja_3{
  background-color: red;
  position: static;
  /* display: none; */
  left: 240px;
  top: 240px
}

.caja_4{
  background-color: aquamarine;
  position: static;
  left: 360px;
  top: 360px
}

.caja_5{
  background-color: yellowgreen;
  position: static;
  left: 30px;
  top: 20px
}

.caja_6{
  background-color: yellow;
  position: static;
  left: 30px;
  top: 20px
}

.caja_7{
  background-color: rgb(199, 24, 199);
  position: static;
  left: 30px;
  top: 20px
}

.caja_8{
  background-color: #00ffff;
  position: static;
  left: 30px;
  top: 20px
}